# Backend (NestJS)
backend/node_modules/
backend/dist/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.development
frontend/.env.production
frontend/playwright-report/
frontend/test-results/

# Upload avatar (generati a runtime)
uploads/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
