
PORT=8080

# ---- Database PostgreSQL locale ----
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/regexriddle

# ---- JWT ----
JWT_SECRET=chiaveSuperSegretaLungaAlmenoTrentadueCarat
JWT_EXPIRATION=86400000
